/Commons/config

/PPL/.project
/PlatformService/.settings
/PlatformService/target
/PlatformService/.classpath
/PlatformService/.project
/PlatformPlugins/.project
/PlatformPlugins/AppsManager/.project
/DeploymentService/.classpath
/DeploymentService/.project
/DeploymentService/.settings
/DeploymentService/target
