[submodule "cookbooks/application_java"]
	path = cookbooks/application_java
	url = https://github.com/poise/application_java.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/opscode-cookbooks/java.git
[submodule "cookbooks/tomcat"]
	path = cookbooks/tomcat
	url = https://github.com/opscode-cookbooks/tomcat.git
[submodule "cookbooks/windows"]
	path = cookbooks/windows
	url = https://github.com/opscode-cookbooks/windows.git
[submodule "cookbooks/chef_handler"]
	path = cookbooks/chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler.git
[submodule "cookbooks/aws"]
	path = cookbooks/aws
	url = https://github.com/opscode-cookbooks/aws.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "cookbooks/application"]
	path = cookbooks/application
	url = https://github.com/poise/application.git
