/Commons/config

/PPL/.project
/PlatformService/.settings
/PlatformService/target
/PlatformService/.classpath
/PlatformService/.project
/PlatformPlugins/.project
/PlatformPlugins/AppsManager/.project
/DeploymentService/.classpath
/DeploymentService/.project
/DeploymentService/.settings
/DeploymentService/target

/Commons/.project

/Commons/.settings

/DeploymentService/bin/.project

/DeploymentService/bin

/PPL/bin/.project

/PPL/target

/PlatformService/bin

/PlatformWebsite/.classpath

/PlatformWebsite/.project

/PlatformWebsite/bin/.project

/PlatformWebsite/.settings

/PlatformWebsite/bin
/PlatformWebsite/target
/PPL/.classpath
/PPL/.settings
/cookbooks/mob-deployment-service/files/default
/cookbooks/mob-platform-service/files/default
/cookbooks/mob-platform-website/files/default
/.project
/.settings
