@media only screen and (min-width: 641px) { 
	
	html, body
	{
		min-height:90%;
		min-width:1024px !important;
		width:100% !important;
	}
	
	.content
	{
		margin-top: 10px;
		margin-left: 10px ;
		margin-right: 25px ;
		padding:10px 20px 0px 20px;
		display:inline-block;
		min-width:400px;
		max-width:40%;
		text-align:left;
		vertical-align:top;
	}
	
	.content input[type=text],.content input[type=password]
	{
		width:100%;
	}
	
	.content input[type=submit]
	{
		padding:5px 40px 5px 40px;
	}
	
	.contentBody
	{
		text-align:center;
		min-width:1000px;
	}
	
	.contentLarge
	{
		display:inline-block;
		max-width:80%;
		text-align:left;
	}
	
	.contentSetHeight
	{
		height:400px;
	}
	
	.fancyTextPlaceholder
	{
	    z-index:100;
	    position:absolute;
	    display:inline-block;
	    
	    font-family:Arial;
	    font-size:14pt;
	    color:#AAAAAA;
	    padding:5px 5px 5px 5px;
	    margin:5px 5px 5px 5px;
	    letter-spacing:1px;
	    
	    vertical-align:middle;
	}
	
	.fancyTextInput
	{
	    z-index:99;
	    font-family:Arial;
	    font-size:14pt;
	    padding:5px 5px 5px 5px;
	    margin:5px 5px 5px 5px;
	}
	
	.header
	{
		text-align:left;
	}
	
	.header form a img
	{
		margin-top:10px;
		margin-left:10px;
	}
	
	.LargeButton
	{
		margin-top:20px;
	}
	
	.logon
	{
		display:inline-block;
		padding:5px 5px 5px 5px;
		position:absolute;
		top: 5px;
		right: 0px;
	}
	
	.logon div
	{
		display:inline-block;
		font-size:10pt;
	}
	
	.logon div input[type=text], .logon div input[type=password]
	{
		font-size:8pt;
	}
	
	.logon input[type=submit]
	{
		font-size:10pt;
	    font-weight:bold;
	}

	.MainPageContent
	{
	    font-family: Arial;
	    font-size: 12pt;
	    height:90px;
	    text-align: left;
	    padding: 0px 0px 0px 0px;
	    text-align:left;
	    color:#666666;
	}
	
	.MainPageContentSubTitle
	{
		vertical-align:bottom;
	    color:#000000;
	    font-size:16pt;
	    white-space:nowrap;
	    display:inline-block;
	}
	
	.MainPageContent h1 img
	{
	    vertical-align:middle;
	}
	
	.mainPageHalf
	{
	    text-align:left;
	    padding: 0px 20px 0px 20px;
	    min-width:500px;
	}
}